# discloud.config

# ID do seu Bot do Discord. ESSENCIAL.
# Para obter, ative o Modo de Desenvolvedor no Discord, clique com o botão direito no seu bot e "Copiar ID do Usuário".
BOT_ID=1399546312092946522

# Ficheiro principal que inicia o bot.
MAIN=main.py

# Quantidade de memória RAM que o bot poderá usar.
# Para um bot como o nosso, 100 é um bom começo.
RAM=100

# Versão do Python que a Discloud deve usar. "latest" usa a mais recente estável.
VERSION=latest

# Se precisar de instalar pacotes de sistema (não é o nosso caso agora), usaria a linha abaixo.
# APT=

# Se precisar de um comando de arranque customizado (não é o nosso caso).
# START=